$icon-branding: "\e800";
$icon-design: "\e801";
$icon-development: "\e802";
$icon-email: "\e938";
$icon-linkedIn: "\e93b";
$icon-resume: "\e93a";
$icon-soundcloud: "\e939";
$icon-arrow-right: "\e900";
$icon-arrow-down: "\e901";
$icon-arrow-left: "\e902";

// $icon-mail_f01: "\e900";
// $icon-mail_f02: "\e901";
// $icon-mail_f03: "\e902";
// $icon-mail_f04: "\e903";
// $icon-mail_f05: "\e904";
// $icon-mail_f06: "\e905";
// $icon-mail_f07: "\e906";
// $icon-mail_f08: "\e907";
// $icon-mail_f09: "\e908";
// $icon-mail_f10: "\e909";
// $icon-mail_f11: "\e90a";
// $icon-mail_f12: "\e90b";
// $icon-mail_f13: "\e90c";
// $icon-mail_f14: "\e90d";
// $icon-mail_f15: "\e90e";
// $icon-mail_f16: "\e90f";
// $icon-mail_f17: "\e910";
// $icon-mail_f18: "\e911";
// $icon-mail_f19: "\e912";
// $icon-mail_f20: "\e913";
// $icon-mail_f21: "\e914";
// $icon-mail_f22: "\e915";
// $icon-mail_f23: "\e916";
// $icon-mail_f24: "\e917";
// $icon-mail_f25: "\e918";
// $icon-mail_f26: "\e919";
// $icon-mail_f27: "\e91a";
// $icon-mail_f28: "\e91b";
// $icon-mail_f29: "\e91c";
// $icon-mail_f30: "\e91d";
// $icon-mail_f31: "\e91e";
// $icon-mail_f32: "\e91f";
// $icon-mail_f33: "\e920";
// $icon-mail_f34: "\e921";
// $icon-mail_f35: "\e922";
// $icon-mail_f36: "\e923";
// $icon-mail_f37: "\e924";
// $icon-mail_f38: "\e925";
// $icon-mail_f39: "\e926";
// $icon-mail_f40: "\e927";
// $icon-mail_f41: "\e928";
// $icon-mail_f42: "\e929";
// $icon-mail_f43: "\e92a";
// $icon-mail_f44: "\e92b";
// $icon-mail_f45: "\e92c";
// $icon-mail_f46: "\e92d";
// $icon-mail_f47: "\e92e";
// $icon-mail_f48: "\e92f";
// $icon-mail_f49: "\e930";
// $icon-mail_f50: "\e931";
// $icon-mail_f51: "\e932";
// $icon-mail_f52: "\e933";
// $icon-mail_f53: "\e934";
// $icon-mail_f54: "\e935";
// $icon-mail_f55: "\e936";
// $icon-mail_f56: "\e937";

// $icon-branding: "\e800";
// $icon-design: "\e801";
// $icon-development: "\e802";
// $icon-email: "\e938";
// $icon-linkedIn: "\e93b";
// $icon-resume: "\e93a";
// $icon-soundcloud: "\e939";

// $mail_icon_bgs: $icon-mail_f01 $icon-mail_f02 $icon-mail_f03 $icon-mail_f04 $icon-mail_f05 $icon-mail_f06 $icon-mail_f07 $icon-mail_f08 $icon-mail_f09 $icon-mail_f10 $icon-mail_f11 $icon-mail_f12 $icon-mail_f13 $icon-mail_f14 $icon-mail_f15 $icon-mail_f16 $icon-mail_f17 $icon-mail_f18 $icon-mail_f19 $icon-mail_f20 $icon-mail_f21 $icon-mail_f22 $icon-mail_f23 $icon-mail_f24 $icon-mail_f25 $icon-mail_f26 $icon-mail_f27 $icon-mail_f28 $icon-mail_f29 $icon-mail_f30 $icon-mail_f31 $icon-mail_f32 $icon-mail_f33 $icon-mail_f34 $icon-mail_f35 $icon-mail_f36 $icon-mail_f37 $icon-mail_f38 $icon-mail_f39 $icon-mail_f40 $icon-mail_f41 $icon-mail_f42 $icon-mail_f43 $icon-mail_f44 $icon-mail_f45 $icon-mail_f46 $icon-mail_f47 $icon-mail_f48 $icon-mail_f49 $icon-mail_f50 $icon-mail_f51 $icon-mail_f52 $icon-mail_f53 $icon-mail_f54 $icon-mail_f55 $icon-mail_f56;